
    <table class="table table-bordered" style="color: aliceblue; margin: 2px">
        <thead class="bg-info">
          <tr>
            <th class="text-center" colSpan="3">carrito de compras</th>
          </tr>
          <tr>
            <th scope="col">Curso</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            {% if request.session.carro.items %}
                {% for key, value in request.session.carro.items %}
                    <tr class="text-center">
                        <th scope="row">
                            {{value.nombre}}
                        </th>
                        <th scope="row">
                            {{value.cantidad}}<br/>
                            <a href="{% url 'carro:agregar' value.curso_id %}" class="btn btn-sm btn-success">+</a>
                            <a href="{% url 'carro:restar' value.curso_id %}" class="btn btn-sm btn-success">-</a>
                        </th>
                        <th scope="row">
                            {{value.precio}}
                        </th>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th class="text-center" colSpan="3">el carrito esta vacio</th>
                </tr>
            {% endif %}
        </tbody>
        <tfoot class="bg-info">
            <tr>
              <th class="text-center" colSpan="3">Total General:  ${{importe_total_carro}}</th>
            </tr>
        </tfoot>
      </table>
