{% extends "mavrdapp/base.html" %}

{% load static %}


{% block content %}

    {% for post in posts %}

        <!-- <section class="page-section clearfix">
            <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 50%; margin-left: 50%;">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-upper">{{post.titulo}}</span>
                    <span class="section-heading-upper">{{post.author}}</span>
                    <span class="section-heading-upper">
                        {% for categoria in post.categorias.all %}
                            {{categoria.nombre}}
                        {% endfor %}
                    </span>
                    <!- <span class="section-heading-lower">{{servicio.titulo}}</span> ->
                </h2>
                <p class="mb-3"> {{post.contenido}} </p>
                </div>
            </div>
            </div>
        </section> -->

        <div class="card text-white bg-primary mb-3" style="max-width: 1540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{post.imagen.url}}" class="img-fluid rounded-start" alt="..." style="margin:30px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{post.titulo}}</h5>
                  <p class="card-text">{{post.contenido}}</p>
                  <p class="card-text"><small class="text-muted">{{post.author}}</small></p>
                  <p class="card-text">
                      <small class="text-muted">categoria:
                        {% for categoria in post.categorias.all %}
                            {{categoria.nombre}}
                        {% endfor %}
                    </small>
                </p>
                </div>
              </div>
            </div>
          </div>

    {% endfor %}
   <section>
        <div style="width:75%; background-color: rgb(177, 38, 154); margin: auto; text-align: center; color:black">
            <p>
                categorias:
                {% for post in posts %}
                    {% for categoria in post.categorias.all %}
                        <a href="{% url 'categoria' categoria.id %}" class="linksCategorias">{{categoria.nombre}}</a> &nbsp;&nbsp;&nbsp;
                    {% endfor %}
                {% endfor %}
            </p>
        </div>
    </section>

{% endblock %}
